@import '~@angular/material/theming';
@include mat-core();
$mat-blue: ( 50: #e6eeff, 100: #c0d5ff, 200: #96b9ff, 300: #6b9dff, 400: #4c88ff, 500: #2c73ff, 600: #276bff, 700: #2160ff, 800: #1b56ff, 900: #1043ff, A100: #ffffff, A200: #f8f9ff, A400: #c5cfff, A700: #acbaff, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$rad-pimary: mat-palette($mat-blue);
$rad-accent: mat-palette($mat-pink);
$rad-warn: mat-palette($mat-deep-orange);
$rad-theme: mat-light-theme($rad-pimary, $rad-accent, $rad-warn);
$primary: mat-color($rad-pimary);
$accent: mat-color($rad-accent);
$warn: mat-color($rad-warn);
$orange: #FFCC45;
$green: #079268;
$red: #FF263F;
$blue: #2c73ff;
$purple: #6772c1;
$lightGray: #919191;
$veryLightBlue: #fbfcff;
$sectinBorder: #d3d3d3;
// $gray:rgb(107, 110, 112);
$gray: rgb(70, 72, 73); //#464849
$border: rgba(107, 110, 112, .25); //#919191
$borderHover: rgba(107, 110, 112, .50);
$cardHeader: rgba(70, 72, 73, .025);
$lightGrayBack: rgba(0, 0, 0, 0.01);
$veryLightGray: rgba(107, 110, 112, .15); //#919191
$primaryBack: mat-color($rad-pimary, 50);
$primaryLight: mat-color($rad-pimary, 300);
$primaryDark: mat-color($rad-pimary, 900);
$gradient: linear-gradient(to right, mat-color($rad-pimary, 500) 0%, mat-color($rad-pimary, 900) 100%);
@include angular-material-theme($rad-theme);

$gray-text-color: rgba(0,0,0,.64);
$gray-border-color: rgba(0,0,0,.03);
$gray-bg-color: rgba(0,0,0,.03);

$shadow-from: rgba(0,0,0,.24);
$shadow-to: rgba(0,0,0,.12);


.gray {
  color: $gray !important;
}

.green {
  color: $green !important;
}

.primary {
  color: $primary !important;
}

.accent {
  color: $accent !important;
}

.warn {
  color: $warn !important;
}

.purple {
  color: $purple !important;
}

.orange {
  color: $orange !important;
}

.lightGray {
  color: $lightGray !important;
}
